{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Make Payment</h1>
        </div>
    </div>
</header>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Add Card</strong>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                    {{ billing_form.as_p }}   
                        
                </div>
            </div>
            <div class="button mt-4 ">
                <a href="{% url 'checkout' %}" class="btn btn-secondary float-start">Back to Checkout</a>
                <button type="submit" class="btn btn-secondary float-end">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}        