{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order {{order.id}}</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8 mt-3 mb-2">                
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Amount Paid: ₹{{order.amount_paid}}</h5>
                        <p class="card-text"><strong>Full Name:</strong> {{order.full_name}}</p>
                        <p class="card-text"><strong>Email:</strong> {{order.email}}</p>
                        <p class="card-text"><strong>Shipping Address:</strong> {{order.shipping_address}}</p>
                        <p class="card-text"><strong>Date Ordered:</strong> {{order.date_ordered}}</p>
                        {% if order.date_shipped %}
                        <p class="card-text"><strong>Date Shipped:</strong> {{order.date_shipped}}</p>
                        {% endif %}
                    </div>
                    <strong>Items</strong>
                    <ul class="list-group list-group-flush">
                        {% for item in items %}
                        <li class="list-group-item">{{item.products}} | Qty: {{item.quantity}} | Price: ₹{{item.price}}</li>
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        {% if order.shipped %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false" />
                            <button type="Submit" class="btn btn-secondary">Mark As Not Shipped</button>
                        </form>
                        {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="true" />
                            <button type="Submit" class="btn btn-secondary">Mark As Shipped</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
{% endblock %}