{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sign Up</h1>
            <p class="lead fw-normal text-white-50 mb-0">Sign Up For Your Account</p>
        </div>
    </div>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br />
                        <br />
                        <button type="submit" class="btn btn-secondary w-100">Sign Up</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'password_reset' %}">Forgot password?</a> |
                    <a href="{% url 'login' %}">Have an account? Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
{% endblock %}