{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">User Profile</h1>            
        </div>
    </div>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% url 'update_user' %}">
                        {% csrf_token %}
                        {{ user_form.as_p }}
                        <br />
                        <br />
                        <button type="submit" class="btn btn-secondary w-100">Save Changes</button>
                    </form>
                </div>  
                <div class="card-footer text-center">
                    <a href="{% url 'update_password' %}">Update Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
{% endblock %}